<div class="modal">
  <div class="modal__content modal__content--contact">
    <button class="modal__close" type="button">
      <img src="../assets/images/close.svg" alt="close" />
    </button>
    <ul class="social">
      <li class="social__item">
        <a href="#" class="social__link">
          <img src="../assets/images/share1.svg" alt="" />
        </a>
      </li>

      <li class="social__item">
        <a href="#" class="social__link">
          <img src="../assets/images/share2.svg" alt="" />
        </a>
      </li>

      <li class="social__item">
        <a href="#" class="social__link">
          <img src="../assets/images/share3.svg" alt="" />
        </a>
      </li>

      <li class="social__item">
        <a href="#" class="social__link">
          <img src="../assets/images/share4.svg" alt="" />
        </a>
      </li>
    </ul>
  </div>
</div>
